html,
body {
  height: 100%;
}

body {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  color: white;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.App {
  text-align: center;
}


.inputText {
  padding: 10px;
  margin-bottom: 20px;
  width: 40%;
}

.submitButton {
  padding: 8px 15px;
  background-color: #EA4C89;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 16px;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #F082AC;
}

.EditText {
  width: 30%;
}

.CheckBox {
  margin-left: 5px;
  margin-right: 5px;
  transform: scale(1.3);
}


.DeleteButton {
  background-color: red;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 20px;
  padding: 2px;
}

.DeleteButton:hover,
.DeleteButton:focus {
  background-color: #fc7777;
}