body {
  background-color: rgb(61, 56, 128);
  color: azure;
}

.App {
  text-align: center;
}

.inputText {
  padding: 10px;
}

.submitButton {
  padding: 8px 15px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}
